#label1, #label2, #label3 {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #00ffed;
    -fx-border-color:#00ffed;
    -fx-border-radius:10;
    -fx-padding:10px;
}
#stat1, #stat2,#stat3, #stat4,#stat5, #stat6, #stat7, #stat8 {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #00ffed;
    -fx-border-color:#00ffed;
    -fx-border-radius:10;
    -fx-padding:10px 10px 50px 10px;
}